*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: auto 2fr 2fr 4fr;
        border: 1px solid rgb(119, 255, 0);
        .boxs{
            border: 1px solid rgb(60, 0, 188);
        }
    }

}