* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #0e0e0e;
}
body {
  color: white;
  font-family: Arial, sans-serif;
}
main {
  width: 100%;
  padding: 2rem 4rem;
}
.box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 4rem;
}
.cards {
  width: 100%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.hero {
  width: 100%;
  max-height: 50%;
  object-fit: cover;
}
.hero_name {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 600;
}
.hero_details {
  font-size: 1rem;
  /*  width:95%; */
  color: red;
  opacity:0.85;
}
.hero_village{
  margin-top:1rem;
  font-size: 1.3rem;
}
