* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}
main {
  background-color: #f6dc43;
  @include flex-center;
}

.main_container {
  @include flex-center;
  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  background-color: #7e7e7e;
  border: 15px solid #000;
}
.layer1 {
  @include flex-center;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background-color: #292929;
  border: 3px solid #000;
}
.layer2 {
  @include flex-center;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #adadad;
  border: 3px solid #000;
}
.circle {
  width: 82%;
  height: 82%;
  background-color: #6cbf30;
  border-radius: 50%;
  border: 6px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.X-shadow {
  width: 60%;
  height: 60%;
  position: relative;
  z-index: 2;

}
.X-shadow::before,
.X-shadow::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: grey;
  
}
.X-shadow::before {
  left: -30%;
}

.X-shadow::after {
  right: -190%;
  transform: scaleX(-1); /* Mirror effect */
}

/* Black X (Main Shape) */
.X-shape {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  
}

.X-shape::before,
.X-shape::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: black;
}

.X-shape::before {
  left: -100%;
}

.X-shape::after {
  right: -35%;
  transform: scaleX(-1); /* Mirror effect */
}


.Greenbutton_top {
  position: absolute;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  background: linear-gradient(white, rgb(4, 243, 4), rgb(153, 255, 0), green);
  border: 5px solid #000;
  box-shadow: 0px 6px 0px 2px #646262, 0px 6px 0px 5px #000;
  top: 18%;
  z-index: 9;
}
.Greenbutton_top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(white, rgb(4, 243, 4), rgb(153, 255, 0), green);
  border: 5px solid #000;
  box-shadow: 0px 6px 0px 2px #646262, 0px 6px 0px 5px #000;

  top: 1250%; /* Mirror effect - Move it down */
  left: -15%;
  transform: scaleY(-1); /* Flip vertically */
}
.Greenbutton_left {
  position: absolute;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    white,
    rgb(4, 243, 4),
    rgb(153, 255, 0),
    green
  );
  border: 5px solid #000;
  box-shadow: 6px 0px 0px 2px #646262, 6px 0px 0px 5px #000;
  left: 36%;
  z-index: 9;
}
.Greenbutton_left::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
    to left,
    white,
    rgb(4, 243, 4),
    rgb(153, 255, 0),
    green
  );
  border: 5px solid #000;
  box-shadow: -6px 0px 0px 2px #646262, -6px 0px 0px 5px #000;

  top: 0%; /* Mirror effect - Move it down */
  left: 1200%;
  transform: scaleY(-1); /* Flip vertically */
}

